<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<h3>Mis Citas</h3>
<table class="table">
    <thead>
    <tr>
        <th>Paciente</th>
        <th>Fecha y Hora</th>
        <th>Motivo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cita : ${citas}">
        <td th:text="${cita.paciente.user.firstName + ' ' + cita.paciente.user.lastName}"></td>
        <td th:text="${#dates.format(cita.fechaHora, 'dd/MM/yyyy HH:mm')}"></td>
        <td th:text="${cita.motivo}"></td>
    </tr>
    </tbody>
</table>
