<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Medico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/panelpaciente.css}">
</head>
<body>
<!-- Navbar superior -->
<div id="navbar-container"></div>
<script th:src="@{/js/pacientes/navbarpaciente.js}"></script>

<!-- Contenido -->
<div class="container mt-4">
    <h2 th:text="'Bienvenido, ' + ${paciente.firstName + ' ' + paciente.lastName}">Bienvenido</h2>
    <h2>Bienvenido, tus citas:</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Médico</th>
            <th>Motivo</th>
            <th>Estado</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cita : ${citas}">
            <td th:text="${#dates.format(cita.fecha, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(cita.hora, 'HH:mm')}"></td>
            <td th:text="${cita.medico.nombres + ' ' + cita.medico.apellidos}"></td>
            <td th:text="${cita.motivo}"></td>
            <td th:text="${cita.estado}"></td>
            <td th:text="${cita.estado == 'Completada' ? cita.observaciones : '—'}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('d-none');
    }
</script>

</body>
</html>
