<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Medico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/panelmedico.css}">
</head>
<body>
<!-- Navbar superior -->
<div id="navbar-container"></div>
<script th:src="@{/js/medicos/navbarmedicos.js}"></script>

<!-- Contenido -->
<div class="container mt-4">
    <h3>Formulario para Examen Sangre del Paciente</h3>
    <form th:action="@{/medicos/sangre/guardar}" th:object="${examen}" method="post" class="card p-4 shadow">
        <input type="hidden" th:field="*{cita.id}"/>
        <h4>Examen de Sangre</h4>

        <div class="mb-3">
            <label>Hemoglobina (g/dL):</label>
            <input type="number" step="0.1" th:field="*{hemoglobina}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label>Glucosa (mg/dL):</label>
            <input type="number" step="0.1" th:field="*{glucosa}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label>Colesterol (mg/dL):</label>
            <input type="number" step="0.1" th:field="*{colesterol}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label>Observaciones:</label>
            <textarea th:field="*{observaciones}" class="form-control" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success w-100">
            <i class="bi bi-save"></i> Guardar Examen
        </button>
    </form>

</div>
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('d-none');
    }
</script>

</body>
</html>
